<div id="footer-logo">
	<a href="/"></a>
</div>
<address>
	<p>
		<%=raw footer_address %>
	</p>
</address>
<div id="footer-phones">
	<p>
		<%=raw footer_phones %>
	</p>
</div>
<div id="footer-email">
	<p>
		<%=raw footer_email %>
	</p>
</div>
